// Spacelab 5.2.0 -- This is a copy of vendor/vendor_bundled/thomaspark/bootswatch/dist/spacelab/_variables.scss with
// Tiki CSS variables added and color values updated to better comply with WCAG guidelines.

$theme: "spacelab" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #999 !default;
$gray-600: #777 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #2d2d2d !default;
$black:    #000 !default;

$blue:    #446e9b !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #cd0200 !default;
$orange:  #fd7e14 !default;
$yellow:  #d47500 !default;
$green:   #3cb521 !default;
$teal:    #20c997 !default;
$cyan:    #3399f3 !default;

$primary:       $blue !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-800 !default;

$min-contrast-ratio:   2.65 !default;

// Body

$body-color:                $gray-600 !default;

// Links

$link-color:                $info !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-color:              $gray-900 !default;

// Navbar

$navbar-dark-color:                 rgba($white, .75) !default;
$navbar-dark-hover-color:           $white !default;
$navbar-light-color:                rgba($black, .4) !default;
$navbar-light-hover-color:          $info !default;
$navbar-light-active-color:         $info !default;

//--------------------------- Tiki SCSS variables

//--------------------------- Tiki CSS variables
:root {
    --tiki-top-bg-light: linear-gradient(#f2f2f2, #eee 50%, #dbdbdb);
    --tiki-top-light-color: rgba(0, 0, 0, 0.4);
    --tiki-top-light-link-color: rgba(0, 0, 0, 0.4);
    --tiki-top-light-link-hover-color: #3399f3;

    --tiki-topbar-bg-light: linear-gradient(#f2f2f2, #eee 50%, #dbdbdb);
    --tiki-topbar-light-color: rgba(0, 0, 0, 0.4);
    --tiki-topbar-light-link-color: rgba(0, 0, 0, 0.4);
    --tiki-topbar-light-link-hover-color:  #3399f3;

    --tiki-top-bg-dark: linear-gradient(#646464, #333 50%, #2f2f2f);
    --tiki-top-dark-color: #fff;
    --tiki-top-dark-link-color: rgba(255, 255, 255, 0.75);
    --tiki-top-dark-link-hover-color: #fff;

    --tiki-topbar-bg-dark:  linear-gradient(#646464, #333 50%, #2f2f2f);
    --tiki-topbar-dark-color: #fff;
    --tiki-topbar-dark-link-color: rgba(255, 255, 255, 0.75);
    --tiki-topbar-dark-link-hover-color: #fff;

    --tiki-top-light-border: solid #bebebe;;
    --tiki-top-dark-border: solid rgb(85, 85, 85);
    --tiki-top-border-width: 1px;
    --tiki-topbar-light-border: solid #bebebe;;
    --tiki-topbar-dark-border: solid rgb(85, 85, 85);
    --tiki-topbar-border-width: 1px;
}