/* Darkroom theme newsletter stylesheet  */
:root {
  --tiki-top-bg-light:  linear-gradient(to bottom, #818181 0%, #393939 100%);
  --tiki-top-light-color: #fff;
  --tiki-top-light-link-color: #fff;
  --tiki-top-light-link-hover-color: #f4f4f4;
  --tiki-topbar-bg-light: linear-gradient(to bottom, #818181 0%, #393939 100%);
  --tiki-topbar-light-color: #fff;
  --tiki-topbar-light-link-color: #fff;
  --tiki-topbar-light-link-hover-color: #f4f4f4;
  --tiki-top-bg-dark:  linear-gradient(to bottom, #818181 0%, #393939 100%);
  --tiki-top-dark-color: #fff;
  --tiki-top-dark-link-color: #fff;
  --tiki-top-dark-link-hover-color: #f4f4f4;
  --tiki-topbar-bg-dark: linear-gradient(to bottom, #818181 0%, #393939 100%);
  --tiki-topbar-dark-color: #fff;
  --tiki-topbar-dark-link-color: #fff;
  --tiki-topbar-dark-link-hover-color: #f4f4f4;
}
body {
  background: #474747;
  color: #d8d8d8;
  font-family: "Trebuchet MS", "Bitstream Vera Sans", sans-serif;
  padding: 15px;
}
a, a:visited {
  color: #ababab;
  text-decoration: none;
}
a:hover {
  color: #858585;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
}
.card {
  margin-bottom: 1.5;
  background-color: #474747;
  border: 1px solid transparent;
  border-radius: 0.375rem;
}
.card-header {
  border-bottom: 1px solid transparent;
}
.card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  color: inherit;
}
.card-title > a, .card-title > small, .card-title > .small, .card-title > small > a, .card-title > .small > a {
  color: inherit;
}
