// $Id$

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
$gray-900:          #222;
$primary:           #B52170; // rgb(218, 56, 143); Darkened for WCAG2 compliance
$secondary:         #8d7b74;
$success:           #5cb85c;
$info:              #4e291b; //#5bc0de;
$warning:           #f0ad4e;
$danger:            #d9534f;
$white:             #fff;


$theme-colors: (
     "primary":           #B52170, //rgb(218, 56, 143),
     "secondary":         #8d7b74,
     "success":           #5cb85c,
     "info":              #4e291b, //#5bc0de,
     "warning":           #f0ad4e,
     "danger":            #d9534f //,
//    "light":            #ffffff,
 //    "dark":            #000000
);

// Options
// Prefix for :root CSS variables
$prefix : bs- !default;
$enable-gradients:            true;
$enable-shadows:              true;

// Spacing

// Body
$body-bg: #addd63;// darken(#bce380, 7%);
$body-color: $gray-900;

// Links
$link-color: $primary;
$link-hover-color: lighten($link-color, 15%);

// Components
$component-active-bg: #cda256;

// Fonts
$font-family-sans-serif: Century Gothic, Lucida Grande, Arial, Helvetica, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1rem;

// Tables
// Buttons
// Forms
// Dropdowns
// Navbar
$navbar-light-color: $link-color; // #e0d6cc;
$navbar-light-bg: $link-hover-color; //#f8f8f8;
$navbar-light-border: darken($navbar-light-bg, 6.5%);

// Navbar links
//$navbar-light-color: #e0d6cc;
$navbar-light-hover-color: #cda256;
$navbar-light-hover-bg: #42281d;
$navbar-light-active-color: #555555;
$navbar-light-toggle-hover-bg: transparent;

$navbar-dark-color:                 rgba($white, .95);
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-toggler-border-color:  rgba($white, .1) !default;
$navbar-dark-brand-color:           $navbar-dark-active-color !default;
$navbar-dark-brand-hover-color:     $navbar-dark-active-color !default;

// Pagination
$pagination-active-color: #ffffff;
$pagination-active-bg: #cda256;
$pagination-active-border: #cda256;

// Jumbotron
$jumbotron-bg: lighten(#E6FFB2, 10%);
$jumbotron-font-size: ceil(($font-size-base * 1.5));

// Cards
$card-bg: #e6ffb2;
$card-inner-border: #53b042;
$card-footer-bg: #e6ffb2;

$card-primary-text: $gray-900;
$card-primary-border: #53b042;
$card-primary-heading-bg: #e6ffb2;

$card-secondary-text: #ffffff;
$card-secondary-border: #53b042;

// Tooltips
// Popovers
// Badges
// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
$imagePath: "../images/";

// - - - - - - - - - - - - - - - - - CSS variables, if any - - - - -

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
:root {
    --tiki-top-bg-light: url('#{$imagePath}header_background_ltr.jpg')  0/100% auto no-repeat;
    --tiki-top-light-color: #{$navbar-light-color};
    --tiki-top-light-link-color: #{$navbar-light-color};
    --tiki-top-light-link-hover-color: #{$navbar-light-hover-color};

    --tiki-topbar-bg-light: #473119 url('#{$imagePath}menubar-wood.jpg') 0/100% auto no-repeat;
    --tiki-topbar-light-color: #{$navbar-light-color};
    --tiki-topbar-light-link-color: #{$navbar-light-color};
    --tiki-topbar-light-link-hover-color: #{$navbar-dark-hover-color};

    --tiki-top-bg-dark: var(--tiki-top-bg-light);
    --tiki-top-dark-color: #{$navbar-dark-color};
    --tiki-top-dark-link-color: #{$navbar-dark-color};
    --tiki-top-dark-link-hover-color: #{$navbar-dark-hover-color};

    --tiki-topbar-bg-dark: var(--tiki-topbar-bg-light);
    --tiki-topbar-dark-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-hover-color: #{$navbar-dark-hover-color};
}
