:root {
  --tiki-top-bg-light: linear-gradient(to right,  #0a8794 0%,#169fb6 53%,#18a4bc 72%,#19a5bd 100%);
  --tiki-top-light-color: #f9f9f9;
  --tiki-top-light-link-color: #f9f9f9;
  --tiki-top-light-link-hover-color: #f2f2f2;
  --tiki-topbar-bg-light: #063035;
  --tiki-topbar-light-color: #f9f9f9;
  --tiki-topbar-light-link-color: #f9f9f9;
  --tiki-topbar-light-link-hover-color: #f2f2f2;
  --tiki-top-bg-dark: linear-gradient(to right,  #0a8794 0%,#169fb6 53%,#18a4bc 72%,#19a5bd 100%);
  --tiki-top-dark-color: #f9f9f9;
  --tiki-top-dark-link-color: #f9f9f9;
  --tiki-top-dark-link-hover-color: #f2f2f2;
  --tiki-topbar-bg-dark: #063035;
  --tiki-topbar-dark-color: #f9f9f9;
  --tiki-topbar-dark-link-color: #f9f9f9;
  --tiki-topbar-dark-link-hover-color: #f2f2f2;
  --tiki-top-light-border: solid #000;
  --tiki-top-dark-border: solid #000;
  --tiki-top-border-width: 0 0 5px 0;
}
.header_outer, .layout_basic #top_modules, .postbody-title, .tiki > .navbar.fixed-top.bg-dark, .bg-dark {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a8794+0,169fb6+53,18a4bc+72,19a5bd+100 */
  background: #0a8794 !important;
  /* Old browsers */
  background: linear-gradient(to right, #0a8794 0%, #169fb6 53%, #18a4bc 72%, #19a5bd 100%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.text-danger {
  color: #D63D00 !important;
}
.text-dark {
  color: #063035 !important;
}
.bg-dark {
  background-color: #063035 !important;
}
.btn-dark {
  color: #fff;
  background-color: #063035;
  border-color: #063035;
}
.breadcrumb-item.active {
  color: #6B737B !important;
}
.valid-feedback, .valid-tooltip {
  color: #288040;
}
.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label, .invalid-feedback, .invalid-tooltip {
  color: #B45918 !important;
}
.bg-danger .card-title, .bg-warning .card-title {
  color: #fff;
}
.badge.bg-danger {
  color: #fff;
}
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #177F92;
  --bs-secondary: #005064;
  --bs-success: #3A833A;
  --bs-info: #007378;
  --bs-warning: #A4660E;
  --bs-danger: #D63D00;
  --bs-light: #ddf8f9;
  --bs-dark: #063035;
  --bs-primary-rgb: 23, 127, 146;
  --bs-secondary-rgb: 0, 80, 100;
  --bs-success-rgb: 58, 131, 58;
  --bs-info-rgb: 0, 115, 120;
  --bs-warning-rgb: 164, 102, 14;
  --bs-danger-rgb: 214, 61, 0;
  --bs-light-rgb: 221, 248, 249;
  --bs-dark-rgb: 6, 48, 53;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #177F92;
  --bs-link-hover-color: #0d4650;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}
*, *::before, *::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid #18a3bb;
  opacity: 0.25;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}
h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol, ul {
  padding-left: 2rem;
}
ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 700;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
b, strong {
  font-weight: bolder;
}
small {
  font-size: 0.875em;
}
mark {
  padding: 0.1875em;
  background-color: var(--bs-highlight-bg);
}
sub, sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: var(--bs-link-color);
  text-decoration: none;
}
a:hover {
  color: var(--bs-link-hover-color);
  text-decoration: underline;
}
a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}
pre, code, kbd, samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}
code {
  font-size: 0.875em;
  color: var(--bs-code-color);
  word-wrap: break-word;
}
a > code {
  color: inherit;
}
kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 0.875em;
  color: var(--bs-body-bg);
  background-color: var(--bs-body-color);
  border-radius: 0.25rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
}
figure {
  margin: 0 0 1rem;
}
img, svg {
  vertical-align: middle;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}
caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6B737B;
  text-align: left;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
thead, tbody, tfoot, tr, td, th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
label {
  display: inline-block;
}
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, select {
  text-transform: none;
}
[role="button"] {
  cursor: pointer;
}
select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}
[list]:not([type="date"]):not([type="datetime-local"]):not([type="month"]):not([type="week"]):not([type="time"])::-webkit-calendar-picker-indicator {
  display: none !important;
}
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
textarea {
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}
::-webkit-datetime-edit-fields-wrapper, ::-webkit-datetime-edit-text, ::-webkit-datetime-edit-minute, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-year-field {
  padding: 0;
}
::-webkit-inner-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}
/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
iframe {
  border: 0;
}
summary {
  display: list-item;
  cursor: pointer;
}
progress {
  vertical-align: baseline;
}
[hidden] {
  display: none !important;
}
.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.2rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  background-image: var(--bs-gradient);
  box-shadow: var(--bs-btn-box-shadow);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  text-decoration: none;
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.btn-check + .btn:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}
.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  background-image: var(--bs-gradient);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-box-shadow), var(--bs-btn-focus-box-shadow);
}
.btn-check:focus-visible + .btn {
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-box-shadow), var(--bs-btn-focus-box-shadow);
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  background-image: none;
  border-color: var(--bs-btn-active-border-color);
  box-shadow: var(--bs-btn-active-shadow);
}
.btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible {
  box-shadow: var(--bs-btn-active-shadow), var(--bs-btn-focus-box-shadow);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  background-image: none;
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
  box-shadow: none;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #177F92;
  --bs-btn-border-color: #177F92;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #146c7c;
  --bs-btn-hover-border-color: #126675;
  --bs-btn-focus-shadow-rgb: 58, 146, 162;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #126675;
  --bs-btn-active-border-color: #115f6e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #177F92;
  --bs-btn-disabled-border-color: #177F92;
}
.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #005064;
  --bs-btn-border-color: #005064;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #045;
  --bs-btn-hover-border-color: #004050;
  --bs-btn-focus-shadow-rgb: 38, 106, 123;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #004050;
  --bs-btn-active-border-color: #003c4b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #005064;
  --bs-btn-disabled-border-color: #005064;
}
.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3A833A;
  --bs-btn-border-color: #3A833A;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #316f31;
  --bs-btn-hover-border-color: #2e692e;
  --bs-btn-focus-shadow-rgb: 88, 150, 88;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2e692e;
  --bs-btn-active-border-color: #2c622c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3A833A;
  --bs-btn-disabled-border-color: #3A833A;
}
.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #007378;
  --bs-btn-border-color: #007378;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #006266;
  --bs-btn-hover-border-color: #005c60;
  --bs-btn-focus-shadow-rgb: 38, 136, 140;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #005c60;
  --bs-btn-active-border-color: #00565a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #007378;
  --bs-btn-disabled-border-color: #007378;
}
.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: #A4660E;
  --bs-btn-border-color: #A4660E;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8b570c;
  --bs-btn-hover-border-color: #83520b;
  --bs-btn-focus-shadow-rgb: 178, 125, 50;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #83520b;
  --bs-btn-active-border-color: #7b4d0b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #A4660E;
  --bs-btn-disabled-border-color: #A4660E;
}
.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #D63D00;
  --bs-btn-border-color: #D63D00;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b63400;
  --bs-btn-hover-border-color: #ab3100;
  --bs-btn-focus-shadow-rgb: 220, 90, 38;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ab3100;
  --bs-btn-active-border-color: #a12e00;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #D63D00;
  --bs-btn-disabled-border-color: #D63D00;
}
.btn-light {
  --bs-btn-color: #212529;
  --bs-btn-bg: #ddf8f9;
  --bs-btn-border-color: #ddf8f9;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #bcd3d4;
  --bs-btn-hover-border-color: #b1c6c7;
  --bs-btn-focus-shadow-rgb: 193, 216, 218;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #b1c6c7;
  --bs-btn-active-border-color: #a6babb;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: #ddf8f9;
  --bs-btn-disabled-border-color: #ddf8f9;
}
.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #063035;
  --bs-btn-border-color: #063035;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2b4f53;
  --bs-btn-hover-border-color: #1f4549;
  --bs-btn-focus-shadow-rgb: 43, 79, 83;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #38595d;
  --bs-btn-active-border-color: #1f4549;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #063035;
  --bs-btn-disabled-border-color: #063035;
}
.btn-outline-primary {
  --bs-btn-color: #177F92;
  --bs-btn-border-color: #177F92;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #177F92;
  --bs-btn-hover-border-color: #177F92;
  --bs-btn-focus-shadow-rgb: 23, 127, 146;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #177F92;
  --bs-btn-active-border-color: #177F92;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #177F92;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #177F92;
  --bs-gradient: none;
}
.btn-outline-secondary {
  --bs-btn-color: #005064;
  --bs-btn-border-color: #005064;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #005064;
  --bs-btn-hover-border-color: #005064;
  --bs-btn-focus-shadow-rgb: 0, 80, 100;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #005064;
  --bs-btn-active-border-color: #005064;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #005064;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #005064;
  --bs-gradient: none;
}
.btn-outline-success {
  --bs-btn-color: #3A833A;
  --bs-btn-border-color: #3A833A;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3A833A;
  --bs-btn-hover-border-color: #3A833A;
  --bs-btn-focus-shadow-rgb: 58, 131, 58;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3A833A;
  --bs-btn-active-border-color: #3A833A;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #3A833A;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3A833A;
  --bs-gradient: none;
}
.btn-outline-info {
  --bs-btn-color: #007378;
  --bs-btn-border-color: #007378;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #007378;
  --bs-btn-hover-border-color: #007378;
  --bs-btn-focus-shadow-rgb: 0, 115, 120;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #007378;
  --bs-btn-active-border-color: #007378;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #007378;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #007378;
  --bs-gradient: none;
}
.btn-outline-warning {
  --bs-btn-color: #A4660E;
  --bs-btn-border-color: #A4660E;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #A4660E;
  --bs-btn-hover-border-color: #A4660E;
  --bs-btn-focus-shadow-rgb: 164, 102, 14;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #A4660E;
  --bs-btn-active-border-color: #A4660E;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #A4660E;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #A4660E;
  --bs-gradient: none;
}
.btn-outline-danger {
  --bs-btn-color: #D63D00;
  --bs-btn-border-color: #D63D00;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #D63D00;
  --bs-btn-hover-border-color: #D63D00;
  --bs-btn-focus-shadow-rgb: 214, 61, 0;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #D63D00;
  --bs-btn-active-border-color: #D63D00;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #D63D00;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #D63D00;
  --bs-gradient: none;
}
.btn-outline-light {
  --bs-btn-color: #ddf8f9;
  --bs-btn-border-color: #ddf8f9;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #ddf8f9;
  --bs-btn-hover-border-color: #ddf8f9;
  --bs-btn-focus-shadow-rgb: 221, 248, 249;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #ddf8f9;
  --bs-btn-active-border-color: #ddf8f9;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ddf8f9;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ddf8f9;
  --bs-gradient: none;
}
.btn-outline-dark {
  --bs-btn-color: #063035;
  --bs-btn-border-color: #063035;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #063035;
  --bs-btn-hover-border-color: #063035;
  --bs-btn-focus-shadow-rgb: 6, 48, 53;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #063035;
  --bs-btn-active-border-color: #063035;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #063035;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #063035;
  --bs-gradient: none;
}
.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-link-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-link-hover-color);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-link-hover-color);
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: none;
  --bs-btn-focus-shadow-rgb: 58, 146, 162;
  text-decoration: none;
  background-image: none;
}
.btn-link:hover, .btn-link:focus-visible {
  text-decoration: underline;
}
.btn-link:focus-visible {
  color: var(--bs-btn-color);
}
.btn-link:hover {
  color: var(--bs-btn-hover-color);
}
.btn-lg {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: 0.5rem;
}
.btn-sm {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: 0.25rem;
}
.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: #6c757d;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:hover, .nav-link:focus {
  color: var(--bs-nav-link-hover-color);
  text-decoration: none;
}
.nav-link.disabled {
  color: var(--bs-nav-link-disabled-color);
  pointer-events: none;
  cursor: default;
}
.nav-tabs {
  --bs-nav-tabs-border-width: 1px;
  --bs-nav-tabs-border-color: #dee2e6;
  --bs-nav-tabs-border-radius: 0.375rem;
  --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
  --bs-nav-tabs-link-active-color: #fff;
  --bs-nav-tabs-link-active-bg: #087084;
  --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #087084;
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}
.nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  background: none;
  border: var(--bs-nav-tabs-border-width) solid transparent;
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: var(--bs-nav-tabs-border-radius);
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  isolation: isolate;
  border-color: var(--bs-nav-tabs-link-hover-border-color);
}
.nav-tabs .nav-link.disabled, .nav-tabs .nav-link:disabled {
  color: var(--bs-nav-link-disabled-color);
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-color: var(--bs-nav-tabs-link-active-border-color);
}
.nav-tabs .dropdown-menu {
  margin-top: calc(-1 * var(--bs-nav-tabs-border-width));
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nav-pills {
  --bs-nav-pills-border-radius: 0.375rem;
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #087084;
}
.nav-pills .nav-link {
  background: none;
  border: 0;
  border-radius: var(--bs-nav-pills-border-radius);
}
.nav-pills .nav-link:disabled {
  color: var(--bs-nav-link-disabled-color);
  background-color: transparent;
  border-color: transparent;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--bs-nav-pills-link-active-bg);
  background-image: var(--bs-gradient);
}
.nav-fill > .nav-link, .nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}
.nav-justified > .nav-link, .nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}
.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
  width: 100%;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
body.layout_social.tiki.navbar-padding {
  padding-top: 2.72rem;
  padding-bottom: 0;
}
.bg-dark {
  background-color: #063035 !important;
  color: #f9f9f9;
}
.bg-dark .btn-outline-info {
  color: #00DAE6;
}
.btn-outline-dark {
  color: #063035;
  outline-color: #063035;
}
.sitelogo {
  padding: 30px;
}
a, .btn-link, .page-link {
  color: #177F92;
}
a:hover, .btn-link:hover, a:focus, .btn-link:focus {
  color: #0d4650;
}
.nav-tabs .nav-link {
  color: #3d3d3d;
  background-color: #ddf8f9;
  border-color: #83c5ce #83c5ce #ffffff;
}
hr {
  border-top: 1px solid #18a3bb;
}
.table th, .table td {
  border-top: 1px solid #1296a9;
}
.table > thead > tr > th {
  border-bottom: 2px solid #1296a9;
}
.table > tbody + tbody {
  border-top: 2px solid #1296a9;
}
.table .table {
  background-color: #ffffff;
}
.table .table-bordered {
  border: 1px solid #1296a9;
}
.table .table-bordered th, .table .table-bordered td {
  border: 1px solid #1296a9;
}
.table .table-striped > tbody > tr:nth-child(odd) > td, .table .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table .table-hover > tbody > tr:hover > td, .table .table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
.form-control {
  color: #3d3d3d;
  background-color: #ddf8f9;
  background-image: none;
  border: 1px solid #b4f3fb;
}
.navbar-dark a, .navbar-dark .navbar-brand, .dropdown-item, .dropdown-item a, .dropdown-menu .tikihelp {
  color: #f9f9f9;
}
.navbar-dark a:hover, .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent;
}
.navbar-dark a:hover, .navbar-dark a:focus {
  color: rgba(255, 255, 255, 0.75);
}
.navbar-dark .active a, .navbar-dark .active a:hover, .navbar-dark .active a:focus {
  color: #fff;
}
.navbar-dark .disabled a, .navbar-dark .disabled a:hover, .navbar-dark .disabled a:focus {
  color: rgba(255, 255, 255, 0.25);
  background-color: transparent;
}
.navbar-dark .navbar-toggle {
  border-color: #dddddd;
}
.navbar-dark .navbar-toggle:hover, .navbar-dark .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-dark .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-dark .navbar-collapse, .navbar-dark .navbar-form {
  border-color: transparent;
}
nav:not(.topbar_modules, .top_modules).navbar-dark .open > a, nav:not(.topbar_modules, .top_modules).navbar-dark .open > a:hover, nav:not(.topbar_modules, .top_modules).navbar-dark .open > a:focus {
  color: #f9f9f9;
}
.navbar-dark .navbar-link:hover {
  color: #f9f9f9;
}
.navbar .navbar {
  background: transparent !important;
}
.dropdown-menu {
  background-color: #087f93;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.tiki .dropdown-item, .tiki .dropdown-item a, .tiki .dropdown-item .btn.btn-link {
  color: #ffffff;
}
.tiki .dropdown-item:hover, .tiki .dropdown-item:focus, .tiki .dropdown-item a:hover, .tiki .dropdown-item a:focus, .tiki .dropdown-item .btn.btn-link:hover, .tiki .dropdown-item .btn.btn-link:focus {
  color: #f2f2f2;
  background: #087084;
}
.tiki .dropdown-item:active, .tiki .dropdown-item.active, .tiki .dropdown-item a:active, .tiki .dropdown-item a.active, .tiki .dropdown-item .btn.btn-link:active, .tiki .dropdown-item .btn.btn-link.active {
  color: #f2f2f2;
  background: #087084;
}
.tiki .dropdown-item.disabled, .tiki .dropdown-item:disabled, .tiki .dropdown-item a.disabled, .tiki .dropdown-item a:disabled, .tiki .dropdown-item .btn.btn-link.disabled, .tiki .dropdown-item .btn.btn-link:disabled {
  color: #f2f2f2;
}
.tiki .dropdown-item .dropdown-header, .tiki .dropdown-item a .dropdown-header, .tiki .dropdown-item .btn.btn-link .dropdown-header {
  color: #ffffff;
}
.tiki .dropdown-item .dropdown-divider, .tiki .dropdown-item a .dropdown-divider, .tiki .dropdown-item .btn.btn-link .dropdown-divider {
  background: #087f93;
}
.dropdown-item.btn-link {
  color: #fff;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #087084;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #18a3bb;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #ffffff;
  background-color: #0b8a98;
  border-color: #0b8a98;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
}
.col2 .card-header, .col3 .card-header {
  border-bottom: 1px solid #169FB6;
}
header.page-header {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
}
header.page-header a:not(.dropdown-item), header.page-header a.btn-link {
  color: #fff;
}
.form-control, select, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="search"], input[type="number"], input#login-pass, textarea, .adminoptionbox option {
  color: #3d3d3d;
  background-color: #ddf8f9;
}
input[type="checkbox"].preffilter-toggle-round:checked + label::before {
  background: #baf1f3;
}
#footer {
  background: black;
  color: #f4f4f4;
  padding: 1px 0 2px 0;
  width: 100%;
}
.footer {
  border-top: 1px solid #19a5be;
  border-bottom: 1px solid #19a5be;
}
.footer_liner .card {
  background-color: transparent;
  border: none;
}
.footer_liner .card-header {
  color: #ffffff;
  border-bottom: 1px dotted #19a5be;
}
.footer_liner legend, .footer_liner a:not(.btn), .footer_liner a:not(.btn):visited {
  color: #a9a9a9;
}
.nav-tabs .nav-link {
  color: #000;
  background-color: #ddf8f9;
  border-color: #dee2e6 #dee2e6 #ffffff;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #087084;
}
.blog-postbody-title h2.panel-title {
  font-size: 20px;
}
.postbody-title .card-title {
  color: #fff;
}
.siteloginbar_popup .dropdown-menu > li > a {
  color: #ffffff;
}
header.header .sitetitle, header.header .sitesubtitle {
  text-shadow: none;
}
.searchresults blockquote em, .highlight {
  background: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}
.topbar .navbar-nav > li > a, .topbar .navbar > li > a {
  color: #ffffff;
}
.autotoc > .nav {
  background: #ffffff;
}
.autotoc * {
  color: #0b8a98;
}
#autotoc .nav > li > a:hover, #autotoc .nav .nav > li > a:hover, #autotoc .nav > li > a:focus {
  color: #f2f2f2;
  background: #003c4a;
}
#autotoc .nav > li .active, #autotoc .nav > li.open > a {
  color: #f2f2f2;
  background: #003c4a;
}
#autotoc .nav .dropdown-item {
  color: #0b8a98;
}
#col2 .card-title, #col3 .card-title, a.flipmoduletitle, #col2 .card-secondary > .card-header a, #col3 .card-secondary > .card-header a {
  color: #0F7385;
}
footer#footer .footer_liner {
  border-top: 1px solid #19a5be;
  border-bottom: 1px solid #19a5be;
}
footer#footer .footer_liner .card-header {
  border-bottom: 1px dotted #19a5be;
}
.btn-dark {
  color: #ddf8f9;
  background: #063035;
  border-color: #063035;
}
.page-item.disabled, .list-group-item.disabled {
  color: #6B737B !important;
}
.layout_classic .header_container {
  box-shadow: inset 0 44px 0 0 #014f63;
}
.layout_classic .page-header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.layout_classic .page-header .bg-dark {
  background: #014f63 !important;
}
/*.layout_classic*/
.top_modules > div:first-child {
  background: url("../images/siteheader2.png") no-repeat top right !important;
  margin-left: -15px !important;
  color: #063035 !important;
}
.top_modules > div:first-child a {
  color: #063035 !important;
}
.layout_classic .sitetitle, .layout_classic .sitetitle a, .layout_classic .sitesubtitle {
  color: #000 !important;
}
.layout_classic .page-header .nav-link {
  color: #fff;
}
.tiki .select2-container--bootstrap-5 .select2-selection {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3d3d3d;
  background-color: #ddf8f9;
  border: 1px solid #b4f3fb;
  border-radius: 0.375rem;
}
.tiki .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered, .tiki .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
  font-weight: 400;
  line-height: 1.5;
  color: #3d3d3d;
}
.tiki .select2-container--bootstrap-5 .select2-dropdown {
  background-color: #ddf8f9;
  border: 1px solid #b4f3fb;
  border-radius: 0.375rem;
}
.tiki .select2-results__options .select2-results__option {
  color: #3d3d3d;
  background: #ddf8f9;
}
.tiki .select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3d3d3d;
  background-color: #ddf8f9;
  border: 1px solid #b4f3fb;
  border-radius: 0.25rem;
  transition: #b4f3fb 0.15s ease-in-out, inset 0 1px 2px rgba(0, 0, 0, 0.075) 0.15s ease-in-out;
}
.tiki .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected, .tiki .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected="true"] {
  color: #fff;
  background-color: #177F92;
}
